<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Delete Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel=stylesheet href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <h1>Delete {{project.name}}?</h1>

    <form action="{{url_for('deleteProject', project_id = project.id)}}" method="post">
      <input type="submit" value="Delete">
    </form>

    <a href="{{url_for('showProjects')}}">Cancel</a>
  </body>
</html>
