{% extends "main.html" %}
{% block content %}
  <div class="row">
    <h1 class="col-xs-12">Edit Project - {{project.name}}</h1>
  </div>

  <form action="{{url_for('editProject', project_id = project.id)}}" method = "post">
    <div class="form-group">
      <label>New Name:</label>
      <input type="text" class="form-control" name="name">
    </div>

    <div class="form-group">
      <label>New Description:</label>
      <input type="text" class="form-control" maxlength="250" name="description">
    </div>

    <button class="btn btn-info" type="submit">Submit</button>
  </form>

  <a href="{{url_for('showProjects')}}">Cancel</a>
{% endblock %}
