<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project Ideas Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel=stylesheet href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <header>
      <a href="{{url_for('showProjects')}}">
        <i class="glyphicon glyphicon-list-alt"></i> Show all projects
      </a>
      <a href="#">Log In</a>
    </header>

    {% block content %}
    {% endblock %}
  </body>
</html>
