<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project Ideas Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link
      rel=stylesheet
      href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <header class="row">
          <div class="col-xs-6">
            <a href="{{url_for('showProjects')}}">
              <h4><i class="glyphicon glyphicon-list-alt"></i> Show all projects</h4>
            </a>
          </div>

          <div class="col-xs-6 text-right">
            {%if 'email' not in session %}
			         <a class="btn btn-primary" role="button" href="{{url_for('showLogin')}}">Login</a>
			      {% else %}
			         <a class="btn btn-primary" role="button" href="{{url_for('disconnect')}}">Logout</a>
			      {% endif %}
	         </div>
        </header>
      </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
  </body>
</html>
