{% extends "main.html" %}
{% block content %}
  <h1>Projects</h1>

  <a href="{{url_for('newProject')}}"><h2>Create Project</h2></a>

  {% if projects != [] %}
    {% for project in projects %}
      <div>
        <h3>
          <a href="{{url_for('showSupplies', project_id=project.id)}}">
            {{project.name}}
          </a>
        </h3>

        <p>{{project.description}}</p>

        <button>
          <a href="{{url_for('editProject', project_id=project.id)}}">
            Edit Project
          </a>
        </button>

        <button>
          <a href="{{url_for('deleteProject', project_id=project.id)}}">
            Delete Project
          </a>
        </button>
      </div>
    {% endfor %}
  {% else %}
    <h3>Looks like you haven't created any projects yet. Let's get started!</h3>
  {% endif %}
{% endblock %}
