{% extends "main.html" %}
{% block content %}
  <div class="page-header">
    <h1>Projects</h1>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <a class="btn btn-success" role="button" href="{{url_for('newProject')}}">
        <i class="glyphicon glyphicon-plus"></i>
        Create Project
      </a>
    </div>
  </div>

  {% if projects != [] %}
    <ul class="list-group">
    {% for project in projects %}
      <li class="list-group-item">
        <div class="row">
          <h3 class="col-xs-6">
            <a href="{{url_for('showSupplies', project_id=project.id)}}">
              {{project.name}}
            </a>
          </h3>
        </div>

        <div class="row">
          <p class="col-xs-6">{{project.description}}</p>
        </div>

        {% if project.user_id == creator %}
          <div class="row">
            <div class="col-xs-2">
              <a class="btn btn-info" role="button" href="{{url_for('editProject', project_id=project.id)}}">
                <i class="glyphicon glyphicon-pencil"></i>
                Edit Project
              </a>
            </div>

            <div class="col-xs-2">
              <a class="btn btn-danger" role="button" href="{{url_for('deleteProject', project_id=project.id)}}">
                <i class="glyphicon glyphicon-trash"></i>
                Delete Project
              </a>
            </div>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  {% else %}
    <div class="row">
      <h3 class="col-xs-12">Looks like you haven't created any projects yet. Let's get started!</h3>
    </div>
  {% endif %}
{% endblock %}
