{% extends "main.html" %}
{% block content %}
  <div class="page-header">
    <h1>{{ project.name }}</h1>

    <h4>{{ project.description }}</h4>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <a class="btn btn-success" role="button" href="{{ url_for('newSupplyItem', project_id=project.id) }}">
        <i class="glyphicon glyphicon-plus"></i>
        Add New Supply Item
      </a>
    </div>
  </div>

  {% if supplies != [] %}
    <ul class="list-group">
    {% for supply in supplies %}
    <li class="list-group-item">
      <div class="row">
        <h3 class="col-xs-6">{{supply.name}}</h3>
      </div>

      <div class="row">
        <p class="col-xs-6">{{supply.description}}</p>
      </div>

      <div class="row">
        <p class="col-xs-6">{{supply.price}}</p>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <a class="btn btn-info" role="button" href="{{url_for('editSupplyItem', project_id=project.id, supply_id=supply.id)}}">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit Item
          </a>
        </div>

        <div class="col-xs-2">
          <a class="btn btn-danger" role="button" href="{{url_for('deleteSupplyItem', project_id=project.id, supply_id=supply.id)}}">
            <i class="glyphicon glyphicon-trash"></i>
            Delete Item
          </a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      <h3 class="col-xs-12">Looks like you haven't added any supplies yet. What do you need to complete this project?</h3>
    </div>
  {% endif %}
{% endblock %}
